.teaser--exhibition-440 .teaser_link:hover:before {
    background-color: #EF7B47 !important
}

.teaser--exhibition-440 .teaser_link:hover .teaser_defacer {
    color: #EF7B47
}

.teaser--exhibition-440 .teaser_defacer {
    background-color: #EF7B47
}

.teaser--exhibition-440 .teaser_title strong {
    color: #EF7B47
}

.teaser--exhibition-441 .teaser_link:hover:before {
    background-color: #00BBB4 !important
}

.teaser--exhibition-441 .teaser_link:hover .teaser_defacer {
    color: #00BBB4
}

.teaser--exhibition-441 .teaser_defacer {
    background-color: #00BBB4
}

.teaser--exhibition-441 .teaser_title strong {
    color: #00BBB4
}

.teaser--exhibition-442 .teaser_link:hover:before {
    background-color: #A6C38D !important
}

.teaser--exhibition-442 .teaser_link:hover .teaser_defacer {
    color: #A6C38D
}

.teaser--exhibition-442 .teaser_defacer {
    background-color: #A6C38D
}

.teaser--exhibition-442 .teaser_title strong {
    color: #A6C38D
}

.teaser--exhibition-643 .teaser_link:hover:before {
    background-color: #FFAE3B !important
}

.teaser--exhibition-643 .teaser_link:hover .teaser_defacer {
    color: #FFAE3B
}

.teaser--exhibition-643 .teaser_defacer {
    background-color: #FFAE3B
}

.teaser--exhibition-643 .teaser_title strong {
    color: #FFAE3B
}

.teaser--exhibition-705 .teaser_link:hover:before {
    background-color: #9AB9AD !important
}

.teaser--exhibition-705 .teaser_link:hover .teaser_defacer {
    color: #9AB9AD
}

.teaser--exhibition-705 .teaser_defacer {
    background-color: #9AB9AD
}

.teaser--exhibition-705 .teaser_title strong {
    color: #9AB9AD
}

.teaser--exhibition-1217 .teaser_link:hover:before {
    background-color: #D9AA00 !important
}

.teaser--exhibition-1217 .teaser_link:hover .teaser_defacer {
    color: #D9AA00
}

.teaser--exhibition-1217 .teaser_defacer {
    background-color: #D9AA00
}

.teaser--exhibition-1217 .teaser_title strong {
    color: #D9AA00
}

.teaser--exhibition-1324 .teaser_link:hover:before {
    background-color: #D76062 !important
}

.teaser--exhibition-1324 .teaser_link:hover .teaser_defacer {
    color: #D76062
}

.teaser--exhibition-1324 .teaser_defacer {
    background-color: #D76062
}

.teaser--exhibition-1324 .teaser_title strong {
    color: #D76062
}

.teaser--exhibition-1383 .teaser_link:hover:before {
    background-color: #7482BE !important
}

.teaser--exhibition-1383 .teaser_link:hover .teaser_defacer {
    color: #7482BE
}

.teaser--exhibition-1383 .teaser_defacer {
    background-color: #7482BE
}

.teaser--exhibition-1383 .teaser_title strong {
    color: #7482BE
}

.teaser--exhibition-1393 .teaser_link:hover:before {
    background-color: #55DA85 !important
}

.teaser--exhibition-1393 .teaser_link:hover .teaser_defacer {
    color: #55DA85
}

.teaser--exhibition-1393 .teaser_defacer {
    background-color: #55DA85
}

.teaser--exhibition-1393 .teaser_title strong {
    color: #55DA85
}

.teaser--exhibition-1397 .teaser_link:hover:before {
    background-color: #009699 !important
}

.teaser--exhibition-1397 .teaser_link:hover .teaser_defacer {
    color: #009699
}

.teaser--exhibition-1397 .teaser_defacer {
    background-color: #009699
}

.teaser--exhibition-1397 .teaser_title strong {
    color: #009699
}

.teaser--exhibition-1399 .teaser_link:hover:before {
    background-color: #82B7AD !important
}

.teaser--exhibition-1399 .teaser_link:hover .teaser_defacer {
    color: #82B7AD
}

.teaser--exhibition-1399 .teaser_defacer {
    background-color: #82B7AD
}

.teaser--exhibition-1399 .teaser_title strong {
    color: #82B7AD
}

.teaser--exhibition-1408 .teaser_link:hover:before {
    background-color: #FFFFFF !important
}

.teaser--exhibition-1408 .teaser_link:hover .teaser_defacer {
    color: #FFFFFF
}

.teaser--exhibition-1408 .teaser_defacer {
    background-color: #FFFFFF
}

.teaser--exhibition-1408 .teaser_title strong {
    color: #FFFFFF
}

.teaser--exhibition-1830 .teaser_link:hover:before {
    background-color: #FFFFFF !important
}

.teaser--exhibition-1830 .teaser_link:hover .teaser_defacer {
    color: #FFFFFF
}

.teaser--exhibition-1830 .teaser_defacer {
    background-color: #FFFFFF
}

.teaser--exhibition-1830 .teaser_title strong {
    color: #FFFFFF
}

.teaser--exhibition-1831 .teaser_link:hover:before {
    background-color: #FFFFFF !important
}

.teaser--exhibition-1831 .teaser_link:hover .teaser_defacer {
    color: #FFFFFF
}

.teaser--exhibition-1831 .teaser_defacer {
    background-color: #FFFFFF
}

.teaser--exhibition-1831 .teaser_title strong {
    color: #FFFFFF
}

.teaser--exhibition-1832 .teaser_link:hover:before {
    background-color: #FFFFFF !important
}

.teaser--exhibition-1832 .teaser_link:hover .teaser_defacer {
    color: #FFFFFF
}

.teaser--exhibition-1832 .teaser_defacer {
    background-color: #FFFFFF
}

.teaser--exhibition-1832 .teaser_title strong {
    color: #FFFFFF
}

.teaser--exhibition-1877 .teaser_link:hover:before {
    background-color: #FFFFFF !important
}

.teaser--exhibition-1877 .teaser_link:hover .teaser_defacer {
    color: #FFFFFF
}

.teaser--exhibition-1877 .teaser_defacer {
    background-color: #FFFFFF
}

.teaser--exhibition-1877 .teaser_title strong {
    color: #FFFFFF
}

.teaser--exhibition-2009 .teaser_link:hover:before {
    background-color: #B2B2B2 !important
}

.teaser--exhibition-2009 .teaser_link:hover .teaser_defacer {
    color: #B2B2B2
}

.teaser--exhibition-2009 .teaser_defacer {
    background-color: #B2B2B2
}

.teaser--exhibition-2009 .teaser_title strong {
    color: #B2B2B2
}

.teaser--exhibition-2012 .teaser_link:hover:before {
    background-color: #CAB482 !important
}

.teaser--exhibition-2012 .teaser_link:hover .teaser_defacer {
    color: #CAB482
}

.teaser--exhibition-2012 .teaser_defacer {
    background-color: #CAB482
}

.teaser--exhibition-2012 .teaser_title strong {
    color: #CAB482
}

.teaser--exhibition-2013 .teaser_link:hover:before {
    background-color: #008CA7 !important
}

.teaser--exhibition-2013 .teaser_link:hover .teaser_defacer {
    color: #008CA7
}

.teaser--exhibition-2013 .teaser_defacer {
    background-color: #008CA7
}

.teaser--exhibition-2013 .teaser_title strong {
    color: #008CA7
}

.teaser--exhibition-2022 .teaser_link:hover:before {
    background-color: #B2B2B2 !important
}

.teaser--exhibition-2022 .teaser_link:hover .teaser_defacer {
    color: #B2B2B2
}

.teaser--exhibition-2022 .teaser_defacer {
    background-color: #B2B2B2
}

.teaser--exhibition-2022 .teaser_title strong {
    color: #B2B2B2
}

.teaser--exhibition-2023 .teaser_link:hover:before {
    background-color: #EB0000 !important
}

.teaser--exhibition-2023 .teaser_link:hover .teaser_defacer {
    color: #EB0000
}

.teaser--exhibition-2023 .teaser_defacer {
    background-color: #EB0000
}

.teaser--exhibition-2023 .teaser_title strong {
    color: #EB0000
}

.teaser--exhibition-2028 .teaser_link:hover:before {
    background-color: #EB0000 !important
}

.teaser--exhibition-2028 .teaser_link:hover .teaser_defacer {
    color: #EB0000
}

.teaser--exhibition-2028 .teaser_defacer {
    background-color: #EB0000
}

.teaser--exhibition-2028 .teaser_title strong {
    color: #EB0000
}

.teaser--exhibition-2029 .teaser_link:hover:before {
    background-color: #008CA7 !important
}

.teaser--exhibition-2029 .teaser_link:hover .teaser_defacer {
    color: #008CA7
}

.teaser--exhibition-2029 .teaser_defacer {
    background-color: #008CA7
}

.teaser--exhibition-2029 .teaser_title strong {
    color: #008CA7
}

.teaser--exhibition-2054 .teaser_link:hover:before {
    background-color: #FFFFFF !important
}

.teaser--exhibition-2054 .teaser_link:hover .teaser_defacer {
    color: #FFFFFF
}

.teaser--exhibition-2054 .teaser_defacer {
    background-color: #FFFFFF
}

.teaser--exhibition-2054 .teaser_title strong {
    color: #FFFFFF
}

.teaser--exhibition-2100 .teaser_link:hover:before {
    background-color: #90B0A1 !important
}

.teaser--exhibition-2100 .teaser_link:hover .teaser_defacer {
    color: #90B0A1
}

.teaser--exhibition-2100 .teaser_defacer {
    background-color: #90B0A1
}

.teaser--exhibition-2100 .teaser_title strong {
    color: #90B0A1
}

.teaser--exhibition-2105 .teaser_link:hover:before {
    background-color: #B35674 !important
}

.teaser--exhibition-2105 .teaser_link:hover .teaser_defacer {
    color: #B35674
}

.teaser--exhibition-2105 .teaser_defacer {
    background-color: #B35674
}

.teaser--exhibition-2105 .teaser_title strong {
    color: #B35674
}

.teaser--exhibition-2106 .teaser_link:hover:before {
    background-color: #338F73 !important
}

.teaser--exhibition-2106 .teaser_link:hover .teaser_defacer {
    color: #338F73
}

.teaser--exhibition-2106 .teaser_defacer {
    background-color: #338F73
}

.teaser--exhibition-2106 .teaser_title strong {
    color: #338F73
}

.teaser--exhibition-2144 .teaser_link:hover:before {
    background-color: #90B0A1 !important
}

.teaser--exhibition-2144 .teaser_link:hover .teaser_defacer {
    color: #90B0A1
}

.teaser--exhibition-2144 .teaser_defacer {
    background-color: #90B0A1
}

.teaser--exhibition-2144 .teaser_title strong {
    color: #90B0A1
}

.teaser--exhibition-2194 .teaser_link:hover:before {
    background-color: #B2A48E !important
}

.teaser--exhibition-2194 .teaser_link:hover .teaser_defacer {
    color: #B2A48E
}

.teaser--exhibition-2194 .teaser_defacer {
    background-color: #B2A48E
}

.teaser--exhibition-2194 .teaser_title strong {
    color: #B2A48E
}

.teaser--exhibition-2202 .teaser_link:hover:before {
    background-color: #D73C61 !important
}

.teaser--exhibition-2202 .teaser_link:hover .teaser_defacer {
    color: #D73C61
}

.teaser--exhibition-2202 .teaser_defacer {
    background-color: #D73C61
}

.teaser--exhibition-2202 .teaser_title strong {
    color: #D73C61
}

.teaser--exhibition-2222 .teaser_link:hover:before {
    background-color: #8630AB !important
}

.teaser--exhibition-2222 .teaser_link:hover .teaser_defacer {
    color: #8630AB
}

.teaser--exhibition-2222 .teaser_defacer {
    background-color: #8630AB
}

.teaser--exhibition-2222 .teaser_title strong {
    color: #8630AB
}

.teaser--exhibition-2223 .teaser_link:hover:before {
    background-color: #9370DB !important
}

.teaser--exhibition-2223 .teaser_link:hover .teaser_defacer {
    color: #9370DB
}

.teaser--exhibition-2223 .teaser_defacer {
    background-color: #9370DB
}

.teaser--exhibition-2223 .teaser_title strong {
    color: #9370DB
}

.teaser--exhibition-2224 .teaser_link:hover:before {
    background-color: #CAB011 !important
}

.teaser--exhibition-2224 .teaser_link:hover .teaser_defacer {
    color: #CAB011
}

.teaser--exhibition-2224 .teaser_defacer {
    background-color: #CAB011
}

.teaser--exhibition-2224 .teaser_title strong {
    color: #CAB011
}

.teaser--exhibition-2225 .teaser_link:hover:before {
    background-color: #3EC2EA !important
}

.teaser--exhibition-2225 .teaser_link:hover .teaser_defacer {
    color: #3EC2EA
}

.teaser--exhibition-2225 .teaser_defacer {
    background-color: #3EC2EA
}

.teaser--exhibition-2225 .teaser_title strong {
    color: #3EC2EA
}

.teaser--exhibition-2226 .teaser_link:hover:before {
    background-color: #067E15 !important
}

.teaser--exhibition-2226 .teaser_link:hover .teaser_defacer {
    color: #067E15
}

.teaser--exhibition-2226 .teaser_defacer {
    background-color: #067E15
}

.teaser--exhibition-2226 .teaser_title strong {
    color: #067E15
}

.teaser--exhibition-2227 .teaser_link:hover:before {
    background-color: #FA1CFF !important
}

.teaser--exhibition-2227 .teaser_link:hover .teaser_defacer {
    color: #FA1CFF
}

.teaser--exhibition-2227 .teaser_defacer {
    background-color: #FA1CFF
}

.teaser--exhibition-2227 .teaser_title strong {
    color: #FA1CFF
}

.teaser--exhibition-2228 .teaser_link:hover:before {
    background-color: #A29062 !important
}

.teaser--exhibition-2228 .teaser_link:hover .teaser_defacer {
    color: #A29062
}

.teaser--exhibition-2228 .teaser_defacer {
    background-color: #A29062
}

.teaser--exhibition-2228 .teaser_title strong {
    color: #A29062
}

.teaser--exhibition-2229 .teaser_link:hover:before {
    background-color: #DF2312 !important
}

.teaser--exhibition-2229 .teaser_link:hover .teaser_defacer {
    color: #DF2312
}

.teaser--exhibition-2229 .teaser_defacer {
    background-color: #DF2312
}

.teaser--exhibition-2229 .teaser_title strong {
    color: #DF2312
}

.teaser--exhibition-2230 .teaser_link:hover:before {
    background-color: #B2B2A4 !important
}

.teaser--exhibition-2230 .teaser_link:hover .teaser_defacer {
    color: #B2B2A4
}

.teaser--exhibition-2230 .teaser_defacer {
    background-color: #B2B2A4
}

.teaser--exhibition-2230 .teaser_title strong {
    color: #B2B2A4
}

.teaser--exhibition-2231 .teaser_link:hover:before {
    background-color: #724F7A !important
}

.teaser--exhibition-2231 .teaser_link:hover .teaser_defacer {
    color: #724F7A
}

.teaser--exhibition-2231 .teaser_defacer {
    background-color: #724F7A
}

.teaser--exhibition-2231 .teaser_title strong {
    color: #724F7A
}

.teaser--exhibition-2232 .teaser_link:hover:before {
    background-color: #0085B9 !important
}

.teaser--exhibition-2232 .teaser_link:hover .teaser_defacer {
    color: #0085B9
}

.teaser--exhibition-2232 .teaser_defacer {
    background-color: #0085B9
}

.teaser--exhibition-2232 .teaser_title strong {
    color: #0085B9
}

.teaser--exhibition-2233 .teaser_link:hover:before {
    background-color: #FF0000 !important
}

.teaser--exhibition-2233 .teaser_link:hover .teaser_defacer {
    color: #FF0000
}

.teaser--exhibition-2233 .teaser_defacer {
    background-color: #FF0000
}

.teaser--exhibition-2233 .teaser_title strong {
    color: #FF0000
}

.teaser--exhibition-2473 .teaser_link:hover:before {
    background-color: #DCD5C5 !important
}

.teaser--exhibition-2473 .teaser_link:hover .teaser_defacer {
    color: #DCD5C5
}

.teaser--exhibition-2473 .teaser_defacer {
    background-color: #DCD5C5
}

.teaser--exhibition-2473 .teaser_title strong {
    color: #DCD5C5
}

.teaser--exhibition-2698 .teaser_link:hover:before {
    background-color: #FBBA00 !important
}

.teaser--exhibition-2698 .teaser_link:hover .teaser_defacer {
    color: #FBBA00
}

.teaser--exhibition-2698 .teaser_defacer {
    background-color: #FBBA00
}

.teaser--exhibition-2698 .teaser_title strong {
    color: #FBBA00
}

.teaser--exhibition-2719 .teaser_link:hover:before {
    background-color: #FFFFFF !important
}

.teaser--exhibition-2719 .teaser_link:hover .teaser_defacer {
    color: #FFFFFF
}

.teaser--exhibition-2719 .teaser_defacer {
    background-color: #FFFFFF
}

.teaser--exhibition-2719 .teaser_title strong {
    color: #FFFFFF
}

.teaser--exhibition-2757 .teaser_link:hover:before {
    background-color: #FFFFFF !important
}

.teaser--exhibition-2757 .teaser_link:hover .teaser_defacer {
    color: #FFFFFF
}

.teaser--exhibition-2757 .teaser_defacer {
    background-color: #FFFFFF
}

.teaser--exhibition-2757 .teaser_title strong {
    color: #FFFFFF
}

.teaser--exhibition-2803 .teaser_link:hover:before {
    background-color: #8441DC !important
}

.teaser--exhibition-2803 .teaser_link:hover .teaser_defacer {
    color: #8441DC
}

.teaser--exhibition-2803 .teaser_defacer {
    background-color: #8441DC
}

.teaser--exhibition-2803 .teaser_title strong {
    color: #8441DC
}

.teaser--exhibition-2914 .teaser_link:hover:before {
    background-color: #FFFFFF !important
}

.teaser--exhibition-2914 .teaser_link:hover .teaser_defacer {
    color: #FFFFFF
}

.teaser--exhibition-2914 .teaser_defacer {
    background-color: #FFFFFF
}

.teaser--exhibition-2914 .teaser_title strong {
    color: #FFFFFF
}

.teaser--exhibition-2924 .teaser_link:hover:before {
    background-color: #FFFFFF !important
}

.teaser--exhibition-2924 .teaser_link:hover .teaser_defacer {
    color: #FFFFFF
}

.teaser--exhibition-2924 .teaser_defacer {
    background-color: #FFFFFF
}

.teaser--exhibition-2924 .teaser_title strong {
    color: #FFFFFF
}

.teaser--exhibition-2984 .teaser_link:hover:before {
    background-color: #ABE1FA !important
}

.teaser--exhibition-2984 .teaser_link:hover .teaser_defacer {
    color: #ABE1FA
}

.teaser--exhibition-2984 .teaser_defacer {
    background-color: #ABE1FA
}

.teaser--exhibition-2984 .teaser_title strong {
    color: #ABE1FA
}

.teaser--exhibition-3035 .teaser_link:hover:before {
    background-color: #FFFFFF !important
}

.teaser--exhibition-3035 .teaser_link:hover .teaser_defacer {
    color: #FFFFFF
}

.teaser--exhibition-3035 .teaser_defacer {
    background-color: #FFFFFF
}

.teaser--exhibition-3035 .teaser_title strong {
    color: #FFFFFF
}

.teaser--exhibition-3070 .teaser_link:hover:before {
    background-color: #00AFAD !important
}

.teaser--exhibition-3070 .teaser_link:hover .teaser_defacer {
    color: #00AFAD
}

.teaser--exhibition-3070 .teaser_defacer {
    background-color: #00AFAD
}

.teaser--exhibition-3070 .teaser_title strong {
    color: #00AFAD
}

.teaser--exhibition-3086 .teaser_link:hover:before {
    background-color: #FFFFFF !important
}

.teaser--exhibition-3086 .teaser_link:hover .teaser_defacer {
    color: #FFFFFF
}

.teaser--exhibition-3086 .teaser_defacer {
    background-color: #FFFFFF
}

.teaser--exhibition-3086 .teaser_title strong {
    color: #FFFFFF
}

.teaser--exhibition-3087 .teaser_link:hover:before {
    background-color: #FFFFFF !important
}

.teaser--exhibition-3087 .teaser_link:hover .teaser_defacer {
    color: #FFFFFF
}

.teaser--exhibition-3087 .teaser_defacer {
    background-color: #FFFFFF
}

.teaser--exhibition-3087 .teaser_title strong {
    color: #FFFFFF
}

.teaser--exhibition-3089 .teaser_link:hover:before {
    background-color: #FFFFFF !important
}

.teaser--exhibition-3089 .teaser_link:hover .teaser_defacer {
    color: #FFFFFF
}

.teaser--exhibition-3089 .teaser_defacer {
    background-color: #FFFFFF
}

.teaser--exhibition-3089 .teaser_title strong {
    color: #FFFFFF
}

.teaser--exhibition-3143 .teaser_link:hover:before {
    background-color: #008F7C !important
}

.teaser--exhibition-3143 .teaser_link:hover .teaser_defacer {
    color: #008F7C
}

.teaser--exhibition-3143 .teaser_defacer {
    background-color: #008F7C
}

.teaser--exhibition-3143 .teaser_title strong {
    color: #008F7C
}

.teaser--exhibition-3164 .teaser_link:hover:before {
    background-color: #68972F !important
}

.teaser--exhibition-3164 .teaser_link:hover .teaser_defacer {
    color: #68972F
}

.teaser--exhibition-3164 .teaser_defacer {
    background-color: #68972F
}

.teaser--exhibition-3164 .teaser_title strong {
    color: #68972F
}

.teaser--exhibition-3168 .teaser_link:hover:before {
    background-color: #DD7237 !important
}

.teaser--exhibition-3168 .teaser_link:hover .teaser_defacer {
    color: #DD7237
}

.teaser--exhibition-3168 .teaser_defacer {
    background-color: #DD7237
}

.teaser--exhibition-3168 .teaser_title strong {
    color: #DD7237
}

.teaser--exhibition-3174 .teaser_link:hover:before {
    background-color: #FFFFFF !important
}

.teaser--exhibition-3174 .teaser_link:hover .teaser_defacer {
    color: #FFFFFF
}

.teaser--exhibition-3174 .teaser_defacer {
    background-color: #FFFFFF
}

.teaser--exhibition-3174 .teaser_title strong {
    color: #FFFFFF
}

.teaser--exhibition-3231 .teaser_link:hover:before {
    background-color: #31AA6C !important
}

.teaser--exhibition-3231 .teaser_link:hover .teaser_defacer {
    color: #31AA6C
}

.teaser--exhibition-3231 .teaser_defacer {
    background-color: #31AA6C
}

.teaser--exhibition-3231 .teaser_title strong {
    color: #31AA6C
}

.teaser--exhibition-3359 .teaser_link:hover:before {
    background-color: #FFCD1C !important
}

.teaser--exhibition-3359 .teaser_link:hover .teaser_defacer {
    color: #FFCD1C
}

.teaser--exhibition-3359 .teaser_defacer {
    background-color: #FFCD1C
}

.teaser--exhibition-3359 .teaser_title strong {
    color: #FFCD1C
}

.teaser--exhibition-3418 .teaser_link:hover:before {
    background-color: #0080C9 !important
}

.teaser--exhibition-3418 .teaser_link:hover .teaser_defacer {
    color: #0080C9
}

.teaser--exhibition-3418 .teaser_defacer {
    background-color: #0080C9
}

.teaser--exhibition-3418 .teaser_title strong {
    color: #0080C9
}

.teaser--exhibition-3428 .teaser_link:hover:before {
    background-color: #648F82 !important
}

.teaser--exhibition-3428 .teaser_link:hover .teaser_defacer {
    color: #648F82
}

.teaser--exhibition-3428 .teaser_defacer {
    background-color: #648F82
}

.teaser--exhibition-3428 .teaser_title strong {
    color: #648F82
}

.teaser--exhibition-3438 .teaser_link:hover:before {
    background-color: #92C56E !important
}

.teaser--exhibition-3438 .teaser_link:hover .teaser_defacer {
    color: #92C56E
}

.teaser--exhibition-3438 .teaser_defacer {
    background-color: #92C56E
}

.teaser--exhibition-3438 .teaser_title strong {
    color: #92C56E
}

.teaser--exhibition-3439 .teaser_link:hover:before {
    background-color: #796CA7 !important
}

.teaser--exhibition-3439 .teaser_link:hover .teaser_defacer {
    color: #796CA7
}

.teaser--exhibition-3439 .teaser_defacer {
    background-color: #796CA7
}

.teaser--exhibition-3439 .teaser_title strong {
    color: #796CA7
}

.teaser--exhibition-3549 .teaser_link:hover:before {
    background-color: #B156D2 !important
}

.teaser--exhibition-3549 .teaser_link:hover .teaser_defacer {
    color: #B156D2
}

.teaser--exhibition-3549 .teaser_defacer {
    background-color: #B156D2
}

.teaser--exhibition-3549 .teaser_title strong {
    color: #B156D2
}

.teaser--exhibition-3557 .teaser_link:hover:before {
    background-color: #75B843 !important
}

.teaser--exhibition-3557 .teaser_link:hover .teaser_defacer {
    color: #75B843
}

.teaser--exhibition-3557 .teaser_defacer {
    background-color: #75B843
}

.teaser--exhibition-3557 .teaser_title strong {
    color: #75B843
}

.teaser--exhibition-3607 .teaser_link:hover:before {
    background-color: #00B2B2 !important
}

.teaser--exhibition-3607 .teaser_link:hover .teaser_defacer {
    color: #00B2B2
}

.teaser--exhibition-3607 .teaser_defacer {
    background-color: #00B2B2
}

.teaser--exhibition-3607 .teaser_title strong {
    color: #00B2B2
}

.teaser--exhibition-4085 .teaser_link:hover:before {
    background-color: #FFFFFF !important
}

.teaser--exhibition-4085 .teaser_link:hover .teaser_defacer {
    color: #FFFFFF
}

.teaser--exhibition-4085 .teaser_defacer {
    background-color: #FFFFFF
}

.teaser--exhibition-4085 .teaser_title strong {
    color: #FFFFFF
}

.teaser--exhibition-4118 .teaser_link:hover:before {
    background-color: #FFFFFF !important
}

.teaser--exhibition-4118 .teaser_link:hover .teaser_defacer {
    color: #FFFFFF
}

.teaser--exhibition-4118 .teaser_defacer {
    background-color: #FFFFFF
}

.teaser--exhibition-4118 .teaser_title strong {
    color: #FFFFFF
}

.teaser--exhibition-4177 .teaser_link:hover:before {
    background-color: #F15B4E !important
}

.teaser--exhibition-4177 .teaser_link:hover .teaser_defacer {
    color: #F15B4E
}

.teaser--exhibition-4177 .teaser_defacer {
    background-color: #F15B4E
}

.teaser--exhibition-4177 .teaser_title strong {
    color: #F15B4E
}

.teaser--exhibition-4200 .teaser_link:hover:before {
    background-color: #547D7D !important
}

.teaser--exhibition-4200 .teaser_link:hover .teaser_defacer {
    color: #547D7D
}

.teaser--exhibition-4200 .teaser_defacer {
    background-color: #547D7D
}

.teaser--exhibition-4200 .teaser_title strong {
    color: #547D7D
}

.teaser--exhibition-4226 .teaser_link:hover:before {
    background-color: #FFFFFF !important
}

.teaser--exhibition-4226 .teaser_link:hover .teaser_defacer {
    color: #FFFFFF
}

.teaser--exhibition-4226 .teaser_defacer {
    background-color: #FFFFFF
}

.teaser--exhibition-4226 .teaser_title strong {
    color: #FFFFFF
}

.teaser--exhibition-4228 .teaser_link:hover:before {
    background-color: #FFFFFF !important
}

.teaser--exhibition-4228 .teaser_link:hover .teaser_defacer {
    color: #FFFFFF
}

.teaser--exhibition-4228 .teaser_defacer {
    background-color: #FFFFFF
}

.teaser--exhibition-4228 .teaser_title strong {
    color: #FFFFFF
}

.teaser--exhibition-4237 .teaser_link:hover:before {
    background-color: #5E8AB4 !important
}

.teaser--exhibition-4237 .teaser_link:hover .teaser_defacer {
    color: #5E8AB4
}

.teaser--exhibition-4237 .teaser_defacer {
    background-color: #5E8AB4
}

.teaser--exhibition-4237 .teaser_title strong {
    color: #5E8AB4
}

.teaser--exhibition-4239 .teaser_link:hover:before {
    background-color: #FFFFFF !important
}

.teaser--exhibition-4239 .teaser_link:hover .teaser_defacer {
    color: #FFFFFF
}

.teaser--exhibition-4239 .teaser_defacer {
    background-color: #FFFFFF
}

.teaser--exhibition-4239 .teaser_title strong {
    color: #FFFFFF
}

.teaser--exhibition-4305 .teaser_link:hover:before {
    background-color: #EC008C !important
}

.teaser--exhibition-4305 .teaser_link:hover .teaser_defacer {
    color: #EC008C
}

.teaser--exhibition-4305 .teaser_defacer {
    background-color: #EC008C
}

.teaser--exhibition-4305 .teaser_title strong {
    color: #EC008C
}

.teaser--exhibition-4307 .teaser_link:hover:before {
    background-color: #FFFFFF !important
}

.teaser--exhibition-4307 .teaser_link:hover .teaser_defacer {
    color: #FFFFFF
}

.teaser--exhibition-4307 .teaser_defacer {
    background-color: #FFFFFF
}

.teaser--exhibition-4307 .teaser_title strong {
    color: #FFFFFF
}

.teaser--exhibition-4318 .teaser_link:hover:before {
    background-color: #EC409D !important
}

.teaser--exhibition-4318 .teaser_link:hover .teaser_defacer {
    color: #EC409D
}

.teaser--exhibition-4318 .teaser_defacer {
    background-color: #EC409D
}

.teaser--exhibition-4318 .teaser_title strong {
    color: #EC409D
}

.teaser--exhibition-4400 .teaser_link:hover:before {
    background-color: #009D3D !important
}

.teaser--exhibition-4400 .teaser_link:hover .teaser_defacer {
    color: #009D3D
}

.teaser--exhibition-4400 .teaser_defacer {
    background-color: #009D3D
}

.teaser--exhibition-4400 .teaser_title strong {
    color: #009D3D
}

.teaser--exhibition-4401 .teaser_link:hover:before {
    background-color: #FFFFFF !important
}

.teaser--exhibition-4401 .teaser_link:hover .teaser_defacer {
    color: #FFFFFF
}

.teaser--exhibition-4401 .teaser_defacer {
    background-color: #FFFFFF
}

.teaser--exhibition-4401 .teaser_title strong {
    color: #FFFFFF
}

.teaser--exhibition-4403 .teaser_link:hover:before {
    background-color: #C5C4BE !important
}

.teaser--exhibition-4403 .teaser_link:hover .teaser_defacer {
    color: #C5C4BE
}

.teaser--exhibition-4403 .teaser_defacer {
    background-color: #C5C4BE
}

.teaser--exhibition-4403 .teaser_title strong {
    color: #C5C4BE
}

.teaser--exhibition-4404 .teaser_link:hover:before {
    background-color: #A9B875 !important
}

.teaser--exhibition-4404 .teaser_link:hover .teaser_defacer {
    color: #A9B875
}

.teaser--exhibition-4404 .teaser_defacer {
    background-color: #A9B875
}

.teaser--exhibition-4404 .teaser_title strong {
    color: #A9B875
}

.teaser--exhibition-4409 .teaser_link:hover:before {
    background-color: #00B451 !important
}

.teaser--exhibition-4409 .teaser_link:hover .teaser_defacer {
    color: #00B451
}

.teaser--exhibition-4409 .teaser_defacer {
    background-color: #00B451
}

.teaser--exhibition-4409 .teaser_title strong {
    color: #00B451
}

.teaser--exhibition-4450 .teaser_link:hover:before {
    background-color: #009BB3 !important
}

.teaser--exhibition-4450 .teaser_link:hover .teaser_defacer {
    color: #009BB3
}

.teaser--exhibition-4450 .teaser_defacer {
    background-color: #009BB3
}

.teaser--exhibition-4450 .teaser_title strong {
    color: #009BB3
}

.teaser--exhibition-4472 .teaser_link:hover:before {
    background-color: #FF1A00 !important
}

.teaser--exhibition-4472 .teaser_link:hover .teaser_defacer {
    color: #FF1A00
}

.teaser--exhibition-4472 .teaser_defacer {
    background-color: #FF1A00
}

.teaser--exhibition-4472 .teaser_title strong {
    color: #FF1A00
}

.teaser--exhibition-4509 .teaser_link:hover:before {
    background-color: #FFFFFF !important
}

.teaser--exhibition-4509 .teaser_link:hover .teaser_defacer {
    color: #FFFFFF
}

.teaser--exhibition-4509 .teaser_defacer {
    background-color: #FFFFFF
}

.teaser--exhibition-4509 .teaser_title strong {
    color: #FFFFFF
}

.teaser--exhibition-4533 .teaser_link:hover:before {
    background-color: #FFFFFF !important
}

.teaser--exhibition-4533 .teaser_link:hover .teaser_defacer {
    color: #FFFFFF
}

.teaser--exhibition-4533 .teaser_defacer {
    background-color: #FFFFFF
}

.teaser--exhibition-4533 .teaser_title strong {
    color: #FFFFFF
}

.teaser--exhibition-4534 .teaser_link:hover:before {
    background-color: #FFFFFF !important
}

.teaser--exhibition-4534 .teaser_link:hover .teaser_defacer {
    color: #FFFFFF
}

.teaser--exhibition-4534 .teaser_defacer {
    background-color: #FFFFFF
}

.teaser--exhibition-4534 .teaser_title strong {
    color: #FFFFFF
}

.teaser--exhibition-4535 .teaser_link:hover:before {
    background-color: #FFFFFF !important
}

.teaser--exhibition-4535 .teaser_link:hover .teaser_defacer {
    color: #FFFFFF
}

.teaser--exhibition-4535 .teaser_defacer {
    background-color: #FFFFFF
}

.teaser--exhibition-4535 .teaser_title strong {
    color: #FFFFFF
}

.teaser--exhibition-4547 .teaser_link:hover:before {
    background-color: #FFFFFF !important
}

.teaser--exhibition-4547 .teaser_link:hover .teaser_defacer {
    color: #FFFFFF
}

.teaser--exhibition-4547 .teaser_defacer {
    background-color: #FFFFFF
}

.teaser--exhibition-4547 .teaser_title strong {
    color: #FFFFFF
}

.teaser--exhibition-4609 .teaser_link:hover:before {
    background-color: #FFFFFF !important
}

.teaser--exhibition-4609 .teaser_link:hover .teaser_defacer {
    color: #FFFFFF
}

.teaser--exhibition-4609 .teaser_defacer {
    background-color: #FFFFFF
}

.teaser--exhibition-4609 .teaser_title strong {
    color: #FFFFFF
}

.teaser--exhibition-4660 .teaser_link:hover:before {
    background-color: #DFC070 !important
}

.teaser--exhibition-4660 .teaser_link:hover .teaser_defacer {
    color: #DFC070
}

.teaser--exhibition-4660 .teaser_defacer {
    background-color: #DFC070
}

.teaser--exhibition-4660 .teaser_title strong {
    color: #DFC070
}

.teaser--exhibition-4661 .teaser_link:hover:before {
    background-color: #C2BB36 !important
}

.teaser--exhibition-4661 .teaser_link:hover .teaser_defacer {
    color: #C2BB36
}

.teaser--exhibition-4661 .teaser_defacer {
    background-color: #C2BB36
}

.teaser--exhibition-4661 .teaser_title strong {
    color: #C2BB36
}